$mobile-min-width: 320px;
$desktop-min-width: 1920px;

$blue: #3877ee;
$violet: #5d5fef;
$pink: #ef5da8;
$light-pink: #f178b6;

$primary-font-family: 'PT Sans', Arial, Helvetica, sans-serif;
$secondary-font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
