$mobile-min-width: 320px;
$tablet-min-width: 720px;
$desktop-min-width: 1920px;

$gray: #42567a;
$blue: #3877ee;
$violet: #5d5fef;
$pink: #ef5da8;
$light-pink: #f178b6;

$pt-sans-font: 'PT Sans', Arial, Helvetica, sans-serif;
$bebas-neue-font: 'Bebas Neue', Arial, Helvetica, sans-serif;
