@import '/src/shared/ui/variables';

$radius: 28px;
$reduced-radius: 3px;
$delta-radius: $radius - $reduced-radius;
$background-color: #f4f5f9;
$border: 1px solid rgba(#303e58, 0.5);

.bullet {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2 * $radius;
  aspect-ratio: 1;
  box-sizing: border-box;
  background-color: $background-color;
  background-clip: content-box;
  border: $border;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}

.number,
.title {
  font-family: $pt-sans-font;
  font-size: 20px;
  line-height: 1.5;
  color: $gray;
}

.number {
  font-weight: 400;
}

.title {
  font-weight: 700;
}

.circle-reduced {
  width: 2 * $reduced-radius;
  background-color: $gray;
  border: none;

  &>.number {
    display: none;
  }
}

.circle-reduced:hover {
  width: 2 * $radius;
  background-color: $background-color;
  border: $border;
  transform: translate(-$delta-radius, -$delta-radius);

  &>.number {
    display: block;
  }
}

.title-reduced {
  display: none;
}
