@import '/src/shared/ui/variables.scss';

.container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border: 1px solid rgba(#303e58, 0.5);
  border-radius: 50%;
}

.number,
.title {
  font-family: $pt-sans-font;
  font-size: 20px;
  line-height: 1.5;
  color: $gray;
}

.number {
  font-weight: 400;
}

.title {
  font-weight: 700;
}
