@import '/src/shared/ui/variables.scss';

.dates-presenter {
  font-family: $pt-sans-font;
  font-size: 17.5vw;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-min-width) {
    font-size: 126px;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 200px;
    line-height: 0.8;
  }
}

.year-start {
  color: $blue;

  @media (min-width: $desktop-min-width) {
    color: $violet;
  }
}

.year-end {
  color: $light-pink;

  @media (min-width: $desktop-min-width) {
    color: $pink;
  }
}
