@import '/src/shared/ui/variables.scss';

$padding-left-desktop: 80px;
$padding-right-desktop: 40px;

.container {
  margin: 0 6.25%;

  @media (min-width: $desktop-min-width) {
    margin-left: 320px;
    margin-right: 160px;
    padding-left: $padding-left-desktop;
    padding-right: $padding-right-desktop;
  }
}

.title {
  position: relative;
  margin: 0;
  margin-top: 59px;
  font-family: $primary-font-family;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #42567a;

  @media (min-width: $desktop-min-width) {
    margin-top: 170px;
    font-size: 56px;

    &::before {
      content: '';
      position: absolute;
      left: -$padding-left-desktop;
      top: 7px;
      bottom: 7px;
      width: 5px;
      background-color: mix($blue, $pink, 50%);
      background-image: linear-gradient(to bottom, $blue, $pink);
    }
  }
}
