@import '/src/shared/ui/variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  aspect-ratio: 1;
  background: none;
  border: 1px solid rgba($gray, 0.5);
  border-radius: 50%;
  transition: background-color 0.2s;

  @media (min-width: $desktop-min-width) {
    width: 50px;
  }

  &:hover:enabled {
    background-color: #ffffff;
    cursor: pointer;
  }
}

.button-disabled {
  border-color: rgba($gray, 0.3);
}

.arrow {
  display: flex;
  stroke: $gray;
}

.arrow-right {
  transform: rotateY(180deg);
}

.arrow-disabled {
  stroke: rgba($gray, 0.5);
}
