@import '/src/shared/ui/variables.scss';

$desktop-padding-left: 80px;
$desktop-padding-right: 40px;

.container {
  min-height: 100%;
  margin: 0 6.25%;
  box-sizing: border-box;

  @media (min-width: $desktop-min-width) {
    margin-left: 320px;
    margin-right: 160px;
    padding-left: $desktop-padding-left;
    padding-right: $desktop-padding-right;
    padding-bottom: 104px;
    border: 1px solid rgba($gray, 0.1);
  }
}

.title {
  position: relative;
  margin: 0;
  margin-top: 59px;
  font-family: $pt-sans-font;
  font-size: 6.25vw;
  line-height: 1.2;
  font-weight: 700;
  color: $gray;

  @media (min-width: $tablet-min-width) {
    font-size: 45px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 170px;
    font-size: 56px;

    &::before {
      content: '';
      position: absolute;
      left: -$desktop-padding-left;
      top: 7px;
      bottom: 7px;
      width: 5px;
      background-color: mix($blue, $pink, 50%);
      background-image: linear-gradient(to bottom, $blue, $pink);
    }
  }
}
