@import '/src/shared/ui/variables.scss';

$circle-diameter: 530px;
$splitter-border: 1px solid rgba($gray, 0.1);

.circle {
  position: absolute;
  top: 215px;
  left: calc(50% - $circle-diameter / 2);
  display: none;
  width: $circle-diameter;
  aspect-ratio: 1;
  border: 1px solid rgba($gray, 0.2);
  border-radius: 50%;

  @media (min-width: $desktop-min-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.horizontal-splitter,
.vertical-splitter {
  display: none;

  @media (min-width: $desktop-min-width) {
    display: block;
  }
}

.horizontal-splitter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 480px;
  border-bottom: $splitter-border;

  //  Полосы свёрстаны с помощью div-ов. Чтобы эти div-ы не перекрывали интерактивные эл-ты, помещаем их на задний план
  z-index: -1000;
}

.vertical-splitter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  border-right: $splitter-border;

  //  Полосы свёрстаны с помощью div-ов. Чтобы эти div-ы не перекрывали интерактивные эл-ты, помещаем их на задний план
  z-index: -1000;
}
